
<div class="container">
    <div class="row ">
        <button routerLink="/maintodo" class="btn btn-warning">Main Todo</button>
        <div class="col">
            <div class="todo-content">
                <div class="logo d-flex">
                    <img class="w-25" src="../../assets/icon.png" alt="">
                </div>
                <h1 class="display-5 fw-bold text-center text-white">LCO Todo List</h1>
                <p class="mt-2 text-white">Add a Todo</p>
                <div class="d-flex justify-content-between mt-2">
                    <input [(ngModel)]="title" class="form-control" placeholder="Type a Title">
                    <input [(ngModel)]="description" class="form-control" placeholder="Type a description">
                    <div>
                        <button (click)="AddData()" class="btn btn-primary">Add Todo</button>
                    </div>
                </div>
                
                <div class="mt-5 list">
                    <ul class="list-group">
                        <li  class="list-group-item">
                          <div class="d-flex justify-content-between">
                            <div class="mt-2">
                                <input
                                class="form-check-input me-2" type="checkbox">
                                
                                <label class="form-check-label" 
                                for="firstCheckbox">  </label>
                              </div>  
                              <div>
                                <button class="btn btn-danger">Delate</button>
                              </div>
                          </div>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
</div>