.logo img{
    margin: auto;
}
.todo-content{
    width: 500px;
    margin: auto;
    padding: 10px;
}
.form-control{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2;
    box-shadow: 0 0 0 !important;
    width: 300px;
    color: white;
  }
  .list{
    padding: 10px;
    border-radius: 4px;
  }
