<div class="container">
    <div class="row ">
        <div class="col">
            <div class="todo-content">
                <div class="logo d-flex">
                    <img class="w-25" src="../../assets/icon.png" alt="">
                </div>
                <h1 class="display-5 fw-bold text-center text-white">LCO Todo List</h1>
                <p class="mt-2 text-white">Add a Todo</p>
                <div class="d-flex justify-content-between mt-2">
                    <input [(ngModel)]="todoValue" 
                    (keyup.enter)="addItem()"
                    class="form-control" placeholder="Type a Todo">
                    <div>
                        <button (click)="addItem()" class="btn btn-primary">Add Todo</button>
                    </div>
                </div>
                
                <div class="mt-5 list">
                    <ul class="list-group">
                        <li *ngFor="let item of list" class="list-group-item">
                          <div class="d-flex justify-content-between">
                            <div class="mt-2">
                                <input  [(ngModel)]="item.isDone" 
                                class="form-check-input me-2" type="checkbox">
                                <label class="form-check-label" 
                                for="firstCheckbox"> {{item.value}} </label>
                              </div>  
                              <div>
                                <button (click)="deleteItem(item.id)" class="btn btn-danger">Delate</button>
                              </div>
                          </div>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
</div>